.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content{
    margin-right: 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}


.display-flex.flex-direction- {
    display: flex;
    align-items: center; 
}

.display-flex.flex-direction- span {
    font-size: 1.5rem; 
    font-weight: 600;
    color: #0d6efd; 
}

.logo {
    width: 40px !important;
    height: 40px;
    margin: 0.5rem 0.75rem 0.5rem 0.5rem !important;
    border-radius: 4px;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    padding: 0.5rem 1rem;
    white-space: nowrap;
}


.d-flex {
    display: flex;
    align-items: center;
    flex-shrink: 0; 
}



@media (max-width: 767.98px) {
    .navbar {
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .navbar-nav {
        display: none; 
    }

    .d-flex {
        flex-direction: column;
        margin-left: auto;
    }

    .d-flex .btn {
        width: 100%;
        margin: 0.25rem 0 !important;
    }

    .navbar > div:nth-child(2) {
        display: none; 
    }
}

@media (min-width: 768px) {
    .logo {
        width: 50px !important; 
        height: 50px;
    }
    
    .navbar {
        flex-wrap: nowrap;
        padding: 0.5rem 1.5rem;
    }

    .navbar > div:nth-child(2) {
        margin: 0 1rem; 
        display: block; 
    }

    .navbar-nav {
        display: flex !important;
    }
}